.header
    position: fixed
    top: 0
    display: flex
    align-items: center
    justify-content: center
    z-index: 1000
    width: 100%
    background: var(--additional-color-transparent)
    backdrop-filter: blur(10px)
    box-shadow: 0 0 4px 4px #00000011
    transition: background .2s,
    height: var(--header-height)

    h1
        position: absolute
        left: var(--page-padding)
        color: var(--main-color)
        transition: color .2s

        span:nth-child(1)
            display: block

        span:nth-child(2)
            display: none

    @media (width <= 768px)
        h1
            span:nth-child(1)
                display: none

            span:nth-child(2)
                display: block
